@media (max-width: 769px) {
	.inputFieldHidden {
		font-size: 3.5vw;
	}

	#editIcon {
		width: 3vw;
		height: 3vw;
	}

	.inputLabel {
		font-size: 3vw;
	}
	.inputField {
		font-size: 1.8vw;
		height: 2.8vw;
	}

	.submitBtn {
		margin-left: auto;
		margin-right: auto;
		display: block;
		padding: 1.4vw 7.8vw;
		font-size: 2.2vw;
	}

	.submitBtn:before {
		width: 110%;
	}
}

@media (max-width: 400px) {
	.inputFieldHidden {
		font-size: 25px;
		width: 80vw;
		margin-bottom: 15px;
		margin-top: 17px;
	}

	#editIcon {
		width: 20px;
		height: 20px;
	}

	.inputLabel {
		font-size: 25px;
	}
	.inputField {
		font-size: 12px;
		height: 20px;
	}

	.submitBtn {
		display: block;
		margin-left: auto;
		margin-right: auto;
		padding: 2vw 9vw;
		font-size: 15px;
	}

	.submitBtn:before {
		width: 144%;
		height: 300%;
	}
}
