.header {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	padding: 4px;
	height: 3vw;
	margin-bottom: 1vw;
	font-size: 2vw;
	background-color: #d9f7c7;
}

.headerLink {
	position: relative;
	cursor: pointer;
	margin: 0 1.2vw;
	transition: all 5s;
}

.headerLink:before {
	content: "";
	position: absolute;
	margin-left: auto;
	margin-right: auto;
	left: 0;
	right: 0;
	bottom: 0;
	height: 1px;
	width: 0;
	border-bottom: 1px solid #b357e8;
	transition: width 0.2s ease-in;
}

.headerLink:hover:before {
	width: 100%;
	border-bottom: 1px solid #b357e8;
}

#contact {
	cursor: pointer;
	margin: 0 1.2vw;
}

.activeTab {
	border-bottom: 1px solid #b357e8;
}

#github {
	cursor: pointer;
	width: 40px;
	margin-right: 10vw;
	border-radius: 10px;
	margin-left: 6vw;
	padding: 2px 6px;
}
