@media (max-width: 769px) {
	.header {
		font-size: 3.2vw;
		height: 6.5vw;
	}

	#github {
		width: 6.1vw;
	}

	a {
		height: 6.1vw;
	}
}

@media (max-width: 400px) {
	.header {
		font-size: 26px;
		height: 45px;
		margin-bottom: 15px;
	}

	#github {
		width: 38px;
	}

	a {
		height: 30px;
		margin-right: 28px;
	}
}
