@media (max-width: 769px) {
	.containerCv {
		width: 62vw;
	}

	.placeHolderCv {
		font-size: 4vw;
	}

	#name {
		font-size: 4.3vw;
	}

	.sectionTitle {
		font-size: 3.95vw;
	}

	.sectionInfo {
		font-size: 2.9vw;
	}

	.expName {
		font-size: 3.4vw;
	}
	.date {
		font-size: 2.2vw;
	}

	#editIconCV {
		opacity: 0.7;
		width: 2.95vw;
		height: 2.95vw;
		top: 2px;
	}

	#removeIconCV {
		opacity: 0.7;
		width: 2.95vw;
		height: 2.95vw;
	}
}

@media (max-width: 400px) {
	.containerCv {
		width: 84vw;
		margin-top: 20px;
		margin-bottom: 20px;
	}

	.placeHolderCv {
		font-size: 28px;
	}

	#name {
		font-size: 35px;
	}

	.sectionTitle {
		font-size: 27px;
	}

	.sectionInfo {
		font-size: 20px;
	}

	.expName {
		font-size: 25px;
		margin-top: 10px;
	}
	.date {
		font-size: 15px;
	}

	#editIconCV {
		opacity: 0.6;
		width: 22px;
		height: 22px;
		right: 25px;
	}

	#removeIconCV {
		opacity: 0.6;
		width: 22px;
		height: 22px;
		right: -10px;
	}
}
