.containerCv {
	padding: 15px;
	margin: 1.5vw auto;
	width: 55vw;
	min-height: 40vh;
	border-radius: 5px;
	background-color: rgb(235, 235, 235);
	/* effect of stacked sheets of paper */
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15), 0 10px 0 -5px #eee,
		0 10px 1px -4px rgba(0, 0, 0, 0.15), 0 20px 0 -10px #eee,
		0 20px 1px -9px rgba(0, 0, 0, 0.15);
}

.placeHolderCv {
	font-size: 2.3vw;
	text-align: center;
	line-height: 40vh;
}

#name {
	font-size: 2.7vw;
	margin-bottom: -0.4vw;
	text-align: center;
}

.sectionTitle {
	position: relative;
	font-size: 2.7vw;
	padding-top: 10px;
	margin-bottom: -13px;
	margin-top: 13px;
}

.sectionTitle:before {
	content: "";
	position: absolute;
	left: 25%;
	right: 25%;
	top: 0;
	width: 47%;
	margin: 0 auto;
	border-top: 1px solid black;
}

.sectionInfo {
	font-size: 1.9vw;
	margin-left: 20px;
	margin-bottom: 4px;
}

.expName {
	font-size: 2.1vw;
	font-weight: bold;
	margin-top: 1.3vw;
	margin-left: 7px;
}

.date {
	font-size: 1.4vw;
}

.expDivCV {
	position: relative;
}
.expDivCV:hover #editIconCV {
	opacity: 1;
}
.expDivCV:hover #removeIconCV {
	opacity: 1;
}

#editIconCV {
	position: absolute;
	right: 40px;
	top: 0;
	cursor: pointer;
	width: 1.6vw;
	height: 1.6vw;
	opacity: 0.1;
	transition: all 0.3s ease-out;
}

#editIconCV:hover {
	transform: scale(1.2);
}

#removeIconCV {
	position: absolute;
	right: 0;
	top: 0;
	cursor: pointer;
	width: 1.6vw;
	height: 1.6vw;
	opacity: 0.1;
	transition: all 0.5s ease-out;
}

#removeIconCV:hover {
	transform: scale(1.2);
}
