@media (max-width: 769px) {
	.footerContent {
		font-size: 3vw;
		width: 65vw;
		padding: 10px;
	}
}

@media (max-width: 400px) {
	.footerContent {
		font-size: 22px;
		width: 90vw;
		line-height: 18px;
		padding: 10px;
	}
}
