.footer {
	margin-bottom: 0px;
	margin-top: 5vw;
	padding: 3px;
	background-color: #d9f7c7;
}

.footerContent {
	margin: 0 auto;
	text-align: center;
	font-size: 1.7vw;
	width: 40vw;
	line-height: 2vw;
}
