@media (max-width: 769px) {
	.footer {
		height: 50px;
		bottom: -7px;
	}

	.footerContent {
		font-size: 20px;
		width: 65vw;
		padding-top: 8px;
	}
}

@media (max-width: 400px) {
	.footer {
		height: 60px;
		padding-top: 10px;
		bottom: -10px;
	}

	.footerContent {
		font-size: 18px;
		width: 92vw;
		line-height: 15px;
	}
}
