@import url("https://fonts.googleapis.com/css2?family=Peddana&display=swap");

body {
	font-family: "Peddana", serif;
	padding: 0;
	margin: 0;
}

.pageTitle {
	text-align: center;
	font-size: 3vw;
	margin: 1vw 0;
}

#pageContainer {
	position: relative;
	min-height: 100vh;
}

#pageContent {
	padding-bottom: 6vw;
}
